body {
    background-image: url("images/flowers.jpeg");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1024px;
    margin: 0 auto; /* This centers the body horizontally */
    font-family: "Courier", slab-serif;

  }
  @keyframes prashantJhim {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  main {
    
    text-align: center;
    
  }
outline{
    font-size: 25px;

    color: rgb(190, 74, 151);
    text-shadow: 
          -1px -1px 0 #000,
           1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000; 
}
nav ul {
list-style: none;
margin: 0;
padding: 0;
}

nav li {
display: inline-block;
}

nav a {
display: block;
padding: 10px 20px;
text-decoration: none;
color: rgb(95, 214, 59);
}

nav a:hover {
background-color: rgb(190, 74, 151);
color: #fff;
}

nav a:focus {
outline: none;
}

nav a:active {
background-color: rgb(190, 74, 151);
color: #fff;
}

nav a:not(:last-child) {
margin-right: 20px;
}
.my-element {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.rounded {
  border-radius: 50px;
}

/* Add square corners to the second image */
.square {
  border-radius: 0;
}

/* Arrange images in a row */
.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjust image size */
img {
  width: 200px;
  height: 200px;
  margin: 10px;
}
/* text next to image*/
.img_deg{
  float: left;
  width: 60%;

}
/* button on image*/
.image-container {
position: relative;

}
#img1{
    animation: prashantJhim 2s infinite;
}
.overlay-text {
position:absolute;
top: 85%;
left: 35%;
transform: translate(-50%, -50%);
font-size: 24px;
color: #fff;
background-color: rgba(0, 0, 0, 0.5);
padding: 10px;
border-radius: 5px;
}
.button {
display: inline-block;
background-color: #333;
color: #fff;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
font-size: 16px;
}